## Build outputs
bin/
obj/
out/

## Visual Studio / VS Code
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider
.idea/

## Logs
*.log

## OS
Thumbs.db
Desktop.ini

## Local debug artifacts
trace.json
push.log

## NuGet
*.nupkg
**/packages/*
!**/packages/build/

## Test results
TestResults/
